USE [master]
GO
/****** Object:  Database [SwatchProductShopify]    Script Date: 10/15/2017 4:11:55 PM ******/
CREATE DATABASE [SwatchProductShopify]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SwatchProductShopify', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SwatchProductShopify.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SwatchProductShopify_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SwatchProductShopify_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SwatchProductShopify].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SwatchProductShopify]
GO
/****** Object:  Table [dbo].[ShopToken]    Script Date: 10/15/2017 4:11:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopToken](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Shop] [nvarchar](200) NOT NULL,
	[Token] [nvarchar](200) NULL,
	[InstallDate] [datetime2](7) NULL,
	[UninstallDate] [datetime2](7) NULL,
 CONSTRAINT [PK_ShopToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
